<!DOCTYPE html>
<html style="background-image: url({{manifest.background}});">

<head>
    <meta charset="utf-8">
    <title>{{manifest.name}} - Stremio Addon</title>
    <link href="//fonts.googleapis.com/css?family=Lato:100,300,400,100italic,200italic,300italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="shortcut icon" href="{{manifest.logo}}" type="image/x-icon">
</head>

<body>
    {{{body}}}

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <script>
        $.get("http://localhost:11470/manifest").success(function () {
            $("#addon").on("click", ".activate-link", function (e) {
                e.preventDefault();
                $.get("http://localhost:11470/info/" + encodeURIComponent("{{manifest.id}}/stremioget/stremio/v1"))
                return false;
            });
        }).error(function (e) { /* ignore */ })
    </script>
</body>

</html>