<div id="addon">
    <img class="logo" src="{{logo}}">
    <h3 class="version"><i>{{manifest.version}}</i></h3>
    <h3 class="description">{{manifest.description}}</h3>

    <h2 class="gives">This add-on has:</h2>
    <ul>
        <li>
            More
            {{#each manifest.types}}
                {{stylize this}}
            {{/each}}
            in Discover
        </li>
    </ul>

    <a class="activate-link" href="{{manifestUrl}}">
        <button name="Install">Install Add-on</button>
    </a>

    {{#if manifest.contactEmail}}
        <h3 class="contact">
            To contact add-on creator:
            <a href="mailto:{{manifest.contactEmail}}">{{manifest.contactEmail}}</a>
        </h3>
    {{/if}}
</div>